<mat-toolbar id="toolbar" style="background-color:white;height: 18%;">
    <div>
      <div id="headerLogo" routerLink="/plantplaceph" routerLinkActive="active"></div>
    </div>
    <div style="float:right">
      <div class="nav">
        <ul>
          <li routerLink="/plantplaceph" routerLinkActive="active"><a >Home</a></li>
          <li routerLink="/plant-place-store" routerLinkActive="active"><a >Plant Place Store</a></li>
          <li routerLink="/plants-gallery" routerLinkActive="active"><a >Plants Gallery</a></li>
          <li routerLink="/home-gardening" routerLinkActive="active"><a >Home Gardening</a></li>
          <li routerLink="/stay-connected" routerLinkActive="active"><a >Stay Connected</a></li>
        </ul>
      </div>
    </div>
</mat-toolbar>
<!-- <div id="bottom-border">
</div> -->