<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span id="headerText">Home Gardening</span>
            </div>
        </div>
        <hr><br>
        <div class="row">
            <div class="col-sm-6">
                <h2>Tips & Review: Mga Halaman na Pwedeng Ilagay sa Loob ng Bahay.</h2>
               <span>
                Sharing tips what plants are best for your home, How to care and where to place them! Watch this video as we review these 10 indoor plants: Spider Plant, Cactus, Fern, Aloe Vera, Areca Palm, Snake Plant, Pothos, Cigar Plant, Succulent and ZZ Plant.
                <br><br>
                Video overview :
                <br>
                <mat-icon class="c-default" aria-hidden="false" aria-label="Example home icon">done</mat-icon> How to care Indoor plants <br>
                <mat-icon class="c-default" aria-hidden="false" aria-label="Example home icon">done</mat-icon> How much water and sunlight for the plants <br>
                <mat-icon class="c-default" aria-hidden="false" aria-label="Example home icon">done</mat-icon> What type of soil to use <br>
                <mat-icon class="c-default" aria-hidden="false" aria-label="Example home icon">done</mat-icon> Ideal place for the plants <br>
                <mat-icon class="c-default" aria-hidden="false" aria-label="Example home icon">done</mat-icon> Trivia & Review <br>
                <mat-icon class="c-default" aria-hidden="false" aria-label="Example home icon">done</mat-icon> Helpful tips
                <br><br>
                Do you have any questions? or suggestions feel free to send us a message to our facebook page, details are provided below.
                <br><br>
                <p>Like & Follow</p>
                 Plant Place - Home Gardening & Plant Galore
                <hr>
                <img src="assets/social/fb.jpg" style="width:32px;height:32px"> <a href="https://www.facebook.com/plantplaceph​/"> Plant Place</a>
               </span>
            </div>
            <div class="col-sm-6">
                <iframe 
                width="560" 
                height="315" 
                src="https://www.youtube.com/embed/ipwkVSmEbKg" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
            </div>
        </div>
    </div>
</body>