<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span id="headerText">Plants Gallery</span>
            </div>
        </div>
        <hr><br>
        <!-- <div class="row">
            <div class="col-sm-12">
                <img src="assets/plantspot.png" style="margin:auto;width:100%;height:100%"> 
            </div>
        </div> -->
        <!-- style="margin-top:50px" -->
        <div class="row">
            <div class="col-sm-2">
                <div class="card index-card" (click)="openDialog()">
                    <img src="assets/on-the-shop/orlando.jpg" class="index-photo"> 
                    <button class="index-button bgc-default" mat-button>
                        Philo Orlando
                    </button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card index-card" (click)="openDialog()">
                    <img src="assets/on-the-shop/rostrata.jpg" class="index-photo"> 
                    <button class="index-button bgc-default" mat-button (click)="openDialog()">
                        Heliconia Rostrata
                    </button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card index-card" (click)="openDialog()">
                    <img src="assets/on-the-shop/crinum.jpg" class="index-photo"> 
                <button class="index-button bgc-default" mat-button (click)="openDialog()">
                    Golden Crinum
                </button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card index-card" (click)="openDialog()">
                    <img src="assets/on-the-shop/palmera.jpg" class="index-photo"> 
                    <button class="index-button bgc-default" mat-button (click)="openDialog()">
                        Palmera
                    </button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card index-card" (click)="openDialog()">
                    <img src="assets/on-the-shop/peruvian.jpg" class="index-photo"> 
                    <button class="index-button bgc-default" mat-button (click)="openDialog()">
                        Peruvian Fern
                    </button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card index-card" (click)="openDialog()">
                    <img src="assets/on-the-shop/pothos.jpg" class="index-photo"> 
                    <button class="index-button bgc-default" mat-button (click)="openDialog()">
                        Golden Pothos
                    </button>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:50px" (click)="openDialog()">
            <div class="col-sm-2">
                <div class="card index-card">
                    <img src="assets/on-the-shop/orlando.jpg" class="index-photo"> 
                    <button class="index-button bgc-default" mat-button (click)="openDialog()">
                        Philo Orlando
                    </button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card index-card" (click)="openDialog()">
                    <img src="assets/on-the-shop/rostrata.jpg" class="index-photo"> 
                    <button class="index-button bgc-default" mat-button (click)="openDialog()">
                        Heliconia Rostrata
                    </button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card index-card" (click)="openDialog()">
                    <img src="assets/on-the-shop/palmera.jpg" class="index-photo"> 
                <button class="index-button bgc-default" mat-button (click)="openDialog()">
                    Palmera
                </button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card index-card" (click)="openDialog()">
                    <img src="assets/on-the-shop/peruvian.jpg" class="index-photo"> 
                    <button class="index-button bgc-default" mat-button (click)="openDialog()">
                        Peruvian Fern
                    </button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card index-card" (click)="openDialog()">
                    <img src="assets/on-the-shop/pothos.jpg" class="index-photo"> 
                    <button class="index-button bgc-default" mat-button (click)="openDialog()">
                        Golden Pothos
                    </button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card index-card" (click)="openDialog()">
                    <img src="assets/on-the-shop/crinum.jpg" class="index-photo"> 
                    <button class="index-button bgc-default" mat-button (click)="openDialog()">
                        Golden Crinum
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>