<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <!-- <div id="Logo"></div> -->
                <span id="headerText">Plant Place Store</span>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="fill" class="pull-right">
                <mat-label>Select Category</mat-label>
                <mat-select>
                    <mat-option value="OP">Ornamental Plants</mat-option>
                    <mat-option value="TP">Tropical Plants</mat-option>
                    <mat-option value="IP">Indoor Plants</mat-option>
                    <mat-option value="HP">Hanging Plants</mat-option>
                    <mat-option value="HS">Herbs & Spices</mat-option>
                </mat-select>
                </mat-form-field>
            </div>
        </div>
        <hr><br>
        <div class="row">
            <div class="col-sm-4">
                <mat-card class="example-card">
                    <mat-card-header>
                      <!-- <div mat-card-avatar class="example-header-image"></div> -->
                      <mat-card-title><h4>Palmera</h4></mat-card-title>
                      <mat-card-subtitle><h6>Ornamental Plant</h6></mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/on-the-shop/palmera001.jpg">
                    <mat-card-content>
                      <table>
                        <tr>
                          <td width="10%"><mat-icon class="c-default" matTooltip="Item Code" aria-hidden="false" aria-label="Example home icon">local_mall</mat-icon></td>
                          <td width="65%"><span> <h6><b>PALMERA001</b></h6> </span></td>
                          <td width="35%">
                            <p><span class="badge-limited">Limited Stocks</span></p>
                          </td>
                        </tr>
                        <tr>
                          <td><mat-icon class="c-default" matTooltip="Price" aria-hidden="false" aria-label="Example home icon">local_offer</mat-icon></td>
                          <td><span> <h6><b>450.00</b></h6> </span></td>
                        </tr>
                      </table>
                          
                      <p>
                        Palmera is ideal house plant it can be indoors or outdoors. Also, It is a natural air cooler for your home.
                      </p>
                    </mat-card-content>
                    <!-- <mat-card-actions>



                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions> -->
                  </mat-card>
                  
            </div>
            <div class="col-sm-4">
                <mat-card class="example-card">
                    <mat-card-header>
                      <!-- <div mat-card-avatar class="example-header-image"></div> -->
                      <mat-card-title><h4>Peruvian Fern</h4></mat-card-title>
                      <mat-card-subtitle><h6>Ornamental Plant</h6></mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/on-the-shop/peruvian001.jpg">
                    <mat-card-content>
                      <table>
                        <tr>
                          <td width="10%"><mat-icon class="c-default" matTooltip="Item Code" aria-hidden="false" aria-label="Example home icon">local_mall</mat-icon></td>
                          <td width="65%"><span> <h6><b>PERUVIAN001</b></h6> </span></td>
                          <td width="35%">
                            <p><span class="badge-limited">Limited Stocks</span></p>
                          </td>
                        </tr>
                        <tr>
                          <td><mat-icon class="c-default" matTooltip="Price" aria-hidden="false" aria-label="Example home icon">local_offer</mat-icon></td>
                          <td><span> <h6><b>600.00</b></h6> </span></td>
                        </tr>
                      </table>

                      <p>
                        Peruvian fern is ideal for tropical inspired garden, It can grow 2 meters or more. You can hang
                        to your window or place it with indirect/bright sunlight of your home.
                      </p>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions> -->
                  </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card class="example-card">
                    <mat-card-header>
                      <!-- <div mat-card-avatar class="example-header-image"></div> -->
                      <mat-card-title><h4>Golden Cane Palm</h4></mat-card-title>
                      <mat-card-subtitle><h6>Ornamental Plant</h6></mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/on-the-shop/goldencane001.jpg">
                    <mat-card-content>
                      <table>
                        <tr>
                          <td width="10%"><mat-icon class="c-default" matTooltip="Item Code" aria-hidden="false" aria-label="Example home icon">local_mall</mat-icon></td>
                          <td width="65%"><span> <h6><b>GOLDENCN001</b></h6> </span></td>
                          <td width="35%">
                            <p><span class="badge-limited">Limited Stocks</span></p>
                          </td>
                        </tr>
                        <tr>
                          <td><mat-icon class="c-default" matTooltip="Price" aria-hidden="false" aria-label="Example home icon">local_offer</mat-icon></td>
                          <td><span> <h6><b>350.00</b></h6> </span></td>
                        </tr>
                      </table>

                      <p>
                        Recommended for Outdoors, Ideal Ornamental plant at home! because of its beautiful golden leaves.
                      </p>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions> -->
                  </mat-card>
            </div>
        </div>
        <div class="row p-t-30">
          <div class="col-sm-4">
              <mat-card class="example-card">
                  <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title><h4>Golden Cane Palm</h4></mat-card-title>
                    <mat-card-subtitle><h6>Ornamental Plant</h6></mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="assets/on-the-shop/goldencane002.jpg">
                  <mat-card-content>
                    <table>
                      <tr>
                        <td width="10%"><mat-icon class="c-default" matTooltip="Item Code" aria-hidden="false" aria-label="Example home icon">local_mall</mat-icon></td>
                        <td width="65%"><span> <h6><b>GOLDENCN002</b></h6> </span></td>
                        <td width="35%">
                            <p><span class="badge-limited">Limited Stocks</span></p>
                        </td>
                      </tr>
                      <tr>
                        <td><mat-icon class="c-default" matTooltip="Price" aria-hidden="false" aria-label="Example home icon">local_offer</mat-icon></td>
                        <td><span> <h6><b>350.00</b></h6> </span></td>
                      </tr>
                    </table>

                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                  <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions> -->
                </mat-card>
                
          </div>
          <div class="col-sm-4">
              <mat-card class="example-card">
                  <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title><h4>Golden Crinum Lily</h4></mat-card-title>
                    <mat-card-subtitle><h6>Ornamental Plant</h6></mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="assets/on-the-shop/crinum002.jpg">
                  <mat-card-content>
                    <table>
                      <tr>
                        <td width="10%"><mat-icon class="c-default" matTooltip="Item Code" aria-hidden="false" aria-label="Example home icon">local_mall</mat-icon></td>
                        <td width="65%"><span> <h6><b>CRINUM002</b></h6> </span></td>
                        <td width="35%">
                          <p><span class="badge-stock">3 Items available</span></p>
                        </td>
                      </tr>
                      <tr>
                        <td><mat-icon class="c-default" matTooltip="Price" aria-hidden="false" aria-label="Example home icon">local_offer</mat-icon></td>
                        <td><span> <h6><b>250.00</b></h6> </span></td>
                      </tr>
                    </table>

                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                  <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions> -->
                </mat-card>
          </div>
          <div class="col-sm-4">
              <mat-card class="example-card">
                  <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title><h4>Golden Crinum Lily</h4></mat-card-title>
                    <mat-card-subtitle><h6>Ornamental Plant</h6></mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="assets/on-the-shop/crinum001.jpg">
                  <mat-card-content>
                    <table>
                      <tr>
                        <td width="10%"><mat-icon class="c-default" matTooltip="Item Code" aria-hidden="false" aria-label="Example home icon">local_mall</mat-icon></td>
                        <td width="65%"><span> <h6><b>CRINUM001</b></h6> </span></td>
                        <td width="35%">
                          <p><span class="badge-stock">4 Items available</span></p>
                        </td>
                      </tr>
                      <tr>
                        <td><mat-icon class="c-default" matTooltip="Price" aria-hidden="false" aria-label="Example home icon">local_offer</mat-icon></td>
                        <td><span> <h6><b>280.00</b></h6> </span></td>
                      </tr>
                    </table>
                    
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                  <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions> -->
                </mat-card>
          </div>
      </div>
      <div class="row p-t-30">
        <div class="col-sm-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <!-- <div mat-card-avatar class="example-header-image"></div> -->
                  <mat-card-title><h4>Heliconia Rostrata</h4></mat-card-title>
                  <mat-card-subtitle><h6>Tropical Plant</h6></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/on-the-shop/rostrata.jpg">
                <mat-card-content>
                  <table>
                    <tr>
                      <td width="10%"><mat-icon class="c-default" matTooltip="Item Code" aria-hidden="false" aria-label="Example home icon">local_mall</mat-icon></td>
                      <td width="65%"><span> <h6><b>ROSTRATA001</b></h6> </span></td>
                      <td width="35%">
                        <p><span class="badge-limited">Limited Stocks</span></p>
                      </td>
                    </tr>
                    <tr>
                      <td><mat-icon class="c-default" matTooltip="Price" aria-hidden="false" aria-label="Example home icon">local_offer</mat-icon></td>
                      <td><span> <h6><b>300.00</b></h6> </span></td>
                    </tr>
                  </table>

                  <p>
                    Also known as Birds of Paradise - Falling birds or Parrots beak because of its beautiful flower,
                    It is a tropical plant and can grow 3 meters or more when it planted specially on the ground.
                  </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
              </mat-card>
              
        </div>
        <div class="col-sm-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <!-- <div mat-card-avatar class="example-header-image"></div> -->
                  <mat-card-title><h4>Philodendron Orlando</h4></mat-card-title>
                  <mat-card-subtitle><h6>Indoor Plant</h6></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/on-the-shop/orlando.jpg">
                <mat-card-content>
                  <table>
                    <tr>
                      <td width="10%"><mat-icon class="c-default" matTooltip="Item Code" aria-hidden="false" aria-label="Example home icon">local_mall</mat-icon></td>
                      <td width="65%"><span> <h6><b>ORLANDO001</b></h6> </span></td>
                      <td width="35%">
                        <p><span class="badge-limited">Limited Stocks</span></p>
                      </td>
                    </tr>
                    <tr>
                      <td><mat-icon class="c-default" matTooltip="Price" aria-hidden="false" aria-label="Example home icon">local_offer</mat-icon></td>
                      <td><span> <h6><b>100.00</b></h6> </span></td>
                    </tr>
                  </table>

                  <p>
                    Philodendron Orlando is a trailing plant, It can be outdoors but indirect sunlight to maintain its
                    bright color leaves.
                  </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
              </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <!-- <div mat-card-avatar class="example-header-image"></div> -->
                  <mat-card-title><h4>Golden Pothos</h4></mat-card-title>
                  <mat-card-subtitle><h6>Indoor Plant</h6></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/on-the-shop/pothos.jpg">
                <mat-card-content>
                  <table>
                    <tr>
                      <td width="10%"><mat-icon class="c-default" matTooltip="Item Code" aria-hidden="false" aria-label="Example home icon">local_mall</mat-icon></td>
                      <td width="65%"><span> <h6><b>POTHOS001</b></h6> </span></td>
                      <td width="35%">
                        <p><span class="badge-stock">5 Items available</span></p>
                      </td>
                    </tr>
                    <tr>
                      <td><mat-icon class="c-default" matTooltip="Price" aria-hidden="false" aria-label="Example home icon">local_offer</mat-icon></td>
                      <td><span> <h6><b>100.00</b></h6> </span></td>
                    </tr>
                  </table>
                  
                  <p>
                    Golden Pothos is a trailing plant that can grow indoor, Can place in bright sunlight of your home.
                  </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
              </mat-card>
        </div>
    </div>
    </div>
</body>
