body {
    background-color:white;
    width: 100%;
    height:auto;
    /* height:100%; */
}

.headerText {
    margin-top:80px;
    color: rgb(51,51,51);
    font-size:42px;
    font-weight:bold;
}

.home-text {
    font-size: 18px;
    font-weight:lighter;
    
}

#Logo {
    background-image:url('src/assets/pp.jpg');
    width: 160px;
    height: 160px;
    border: none;
    border-radius: 0%;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    margin:auto;
}